---
const year = new Date().getFullYear();
---

<footer class="bg-card border-t border-border mt-20">
  <div class="max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <p class="text-foreground/80 text-sm">
        &copy; {year} DevResources. Construido con ❤️ con
        <a href="https://astro.build" class="text-primary">Astro</a> por <a href="https://github.com/RogerCiv" class="text-primary hover:text-blue-500 hover:duration-300">RogerCiv</a>.
      </p>
    </div>
  </div>
</footer>
